body {
    margin: 0;
    padding: 0;
}

/**
 * Layout
 */

.readme {
  margin: 3em;
}

.readme #documentation + ul {
  padding-left: 1rem;
}

.readme #documentation + ul li:before {
  content: '' !important;
}

@media only screen and (min-device-width: 736px) and (min-width: 1000px) {
  .readme {
    width: 650px;
  }

  .readme #documentation {
    display: none;
  }

  .readme #documentation + ul {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding-left: 2rem;
    width: 17rem;
    height: 100%;
    overflow: auto;
    background-color: #2d2d2d;
  }
  
  .readme #documentation + ul > :first-child {
    margin-top: 2rem;
  }

  .readme #documentation + ul li {
    font-size: 0.9rem;
  }

  .readme #documentation + ul li.active {
    background-color: #6c2022;
  }

  .readme #documentation + ul li.active ul {
    background-color: #2d2d2d;
  }
  
  .readme #documentation + ul .secnum {
    color: #777;
    font-size: 0.85rem;
  }

  .readme #documentation + ul a,
  .readme #documentation + ul a:visited {
    color: white;
    text-shadow: none;
    text-decoration: none;
    background: none;
  }

  .readme {
    margin-left: 20rem;
    padding: 2rem;
  }
}

@media only screen and (min-width: 1000px) {
  .readme {
    width: 650px;
  }
}

@media only screen and (min-width: 1100px) {
  .readme {
    width: 750px;
  }
}

/**
 * Typography
 */
.readme,
.readme p {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.readme pre,
.readme code {
  font-family: 'Roboto Mono', monospace;
}

.readme ::selection {
  background: #DEE7FF;
}
.readme ::-moz-selection {
  background: #DEE7FF;
}

.readme > :first-child {
  margin-top: 0;
}

/**
 * Headers
 */
.readme h1,
.readme h2,
.readme h3,
.readme h4,
.readme h5,
.readme h6 {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
  line-height: 1.2em;
  color: #34363B;
  position: relative;
}

.readme > h1:first-child,
.readme > hr + h1:not(:first-child) {
  font-size: 2.5rem;
  border-bottom: 0;
  padding-bottom: 0;
}

.readme > h1:not(:first-child),
.readme > h2 {
  font-size: 2rem;
  margin-top: 3rem;
  border-bottom: 1px dotted #DEE7FF;
  padding-bottom: 0.4em;
}

.readme h3 {
  font-weight: 400;
  margin-top: 2em;
  color: #4A4F5E;
}

.readme h3 + h3,
.readme h4 + h4 {
  margin-top: -0.5em;
}

.readme h2 + h3 {
  margin-top: 0;
}

/**
 * Paragraphs
 */

.readme p,
.readme > ul,
.readme > ol {
  line-height: 1.6em;
}

/**
 * Links
 */

.readme a {
  color: #4078c0;
  text-decoration: none;
}

.readme a:hover,
.readme a:active {
  text-decoration: underline;
}

.readme a img {
  border: 0 none;
}

/**
 * Horizontal Rules
 */

.readme hr {
  width: 8px; height: 8px;
  background: transparent;
  border: 1px solid #A9B0C2;
  border-radius: 17px;
  margin: 4rem auto;
  position: relative;
}

.readme hr:before,
.readme hr:after {
  position: absolute;
  top: 1px;
  left: -24px;
  width: 4px; height: 4px;
  background: transparent;
  content: '';
  border-radius: 9px;
  border: 1px solid #A9B0C2;
}

.readme hr:after {
  left: auto;
  right: -24px;
}

/**
 * Lists
 */

.readme li {
  margin-bottom: 0.2em;
  position: relative;
}
.readme li > :first-child {
  margin-top: 0;
}

.readme ul {
  list-style-type: none;
}

.readme ul > li:not(.no-bullet):before {
  content: '*';
  color: #A9B0C2;
  position: absolute;
  left: -1rem;
}

.readme ul > li.no-bullet {
  margin-left: -1rem;
}

.readme ul,
.readme ol {
  margin: 1rem;
  padding-left: 0;
}

.readme ul ul,
.readme ul ol,
.readme ol ol,
.readme ol ul {
  padding-left: 1rem;
  margin: 0;
}

/*
 * Code
 */

.readme pre code {
  max-height: 800px;
}

.readme code {
  font-size: 0.9rem;
}

.readme p code,
.readme table code {
  color: #c7254e;
  background: #f9f2f4;
  padding: 0.2em 0.4em;
  border-radius: 5px;
}

/*
 * Table
 */
 
.readme table {
  border-spacing: 0;
  border-collapse: collapse;
}

.readme table > tbody > tr > td,
.readme table > tbody > tr > th,
.readme table > tfoot > tr > td,
.readme table > tfoot > tr > th,
.readme table > thead > tr > td,
.readme table > thead > tr > th {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
}
 
.readme table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd
}

.readme table > tbody > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd
}


/*
 * Images
 */

.readme p img {
  max-width: 100%;
}
