<!DOCTYPE html>
<html>
<head>
<title>REST Layer, REST and GraphQL APIs made easy</title>
<meta name="keywords" content="rest,graphql,api,react,flux,go,golang,framework">
<meta property="og:description" name="description" content="Build REST and GraphQL API with few to no code.">
<meta property="og:site_name" content="REST-Layer">
<meta property="og:url" content="http://rest-layer.io">
<meta property="og:type" content="website">
<link rel="stylesheet" href="readme.css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700|Roboto+Mono:400,300,500">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/github.min.css">
</head>
<body>
<a href="https://github.com/rs/rest-layer"><img style="position:fixed;z-index:1000;top:0;right:0;border:0;width:149px;height:149px;" src="http://aral.github.com/fork-me-on-github-retina-ribbons/right-red@2x.png" alt="Fork me on GitHub"></a>
<div class="readme">
<!-- Content -->
<!-- /Content -->
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script src="toc.js"></script>
<script>hljs.initHighlightingOnLoad();</script>  
</body>
</html>
